---
layout: null
---
{% include header.html %}
    
    <main class="page-container" style="padding: 20px 20px; min-height: 800px;">

        <h2 data-rankings-heading>2026 Rookie Fantasy Football Rankings</h2>

        
        <div id="rankings-board"></div>
        <div class="fpw-footer"><span style="float:left"><a href="https://www.fantasypros.com/nfl/rankings/consensus-cheatsheets.php" target="_blank" rel="nofollow">2026 Fantasy Football Rankings</a> powered by FantasyPros</span></div>
        <script src="javascript/rankings-board.js" data-slug="rookie"></script>

    </main>

{% include footer.html %}
