    <script src="javascript/news-ticker.js"></script>
    <script src="javascript/mobile-nav.js"></script>
    <script src="javascript/sleeper.js"></script>    
    <script src="javascript/staffnav.js"></script>
    {% include auth-modals.html %}

<footer class="site-footer">
        <div class="footer-content">
            <div class="footer-col">
                <h3>FantasyNow+</h3>
                <p>Built for the casual fantasy manager</p>
                <div class="footer-social-container">
                    <div class="social-links">
                        <a href="https://bsky.app/profile/fantasynowplus.com" target="_blank" class="social-icon bluesky"><i class="fa-brands fa-bluesky"></i></a>
                        <a href="https://www.tiktok.com/@fantasynowplus" target="_blank" class="social-icon tiktok"><i class="fa-brands fa-tiktok"></i></a>
                        <a href="https://discord.gg/EgZcDynavK" target="_blank" class="social-icon discord"><i class="fa-brands fa-discord"></i></a>
                        <a href="https://www.facebook.com/fantasynowplus" target="_blank" class="social-icon facebook"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="https://x.com/fantasynowplus" target="_blank" class="social-icon x"><i class="fa-brands fa-x-twitter"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="footer-col">
                <h3>Tools & Resources</h3>
                <a href="myleague">MyLeague</a>
                <a href="graphics">Graphic Generator</a>
                <a href="dfs-betting">DFS & Betting</a>
            </div>
            
            <div class="footer-col">
                <h3>Support</h3>
                <a href="mailto:fantasynowplus@gmail.com">Contact Us</a>
                <p class="disclaimer">Partnered with Underdog Fantasy & Drafters</p>
                <a href="partnerships">Advertise with Us</a>

            </div>
        </div>
    </footer>    
    <div class="footer-bottom">
        &copy; 2026 FantasyNow+. All rights reserved.
    </div>
</body>
</html>
